.timeline {
    position: relative;
    height: 200%;
    width: 100%;
    padding: ratio-space(4px) 0;
    margin: ratio-space(4px) 0;

    .date {
        max-width: 275px;
        width: 100%;
        position: relative;
        margin: ratio-space(4px) 0;
        transform: skewY(-11deg);
        z-index: 2;
        
        .date-content {
            @extend %shadow;
            padding: ratio-space(4px);
            transform: rotate(11deg);
            border-radius: 15px;
            background-color: $white;

            .date-title {
                margin-bottom: ratio-space(2px);
            }
            .date-text {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        @media #{$media-up-md} {
            &:nth-child(odd) {
                left: 25%;
                transform: skewY(-11deg) translate(-50%);
                
                @media screen and (min-width: 1200px) {
                    &::before {
                        position: absolute;
                        content: '';
                        background-color: $primary-color;
                        width: 61%;
                        height: 5px;
                        top: 80%;
                        transform: rotate(11deg);
                        left: 98%;
                        border-radius: 50px;
                    }
                }
            }
            
            &:nth-child(even) {
                left: 75%;
                transform: skewY(-11deg) translate(-50%);
    
                @media screen and (min-width: 1200px) {
                    &::after {
                        position: absolute;
                        content: '';
                        background-color: $primary-color;
                        width: 61%;
                        height: 5px;
                        transform: rotate(11deg);
                        bottom: 80%;
                        right: 98%;
                    }
                }
            }
        }

        @media #{$media-down-md} {
            margin: ratio-space(4px) auto;
        }
    }
    
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translate(-50%);

        width: 5px;
        height: 100%;

        background: linear-gradient(to bottom, $blue 35%, transparent 35%, transparent 100%);
        background-size: 100% 30px;
        
    }

    &::before {
        position: absolute;
        content: '';
        top: 30px;
        left: 50%;
        transform: translate(-50%);

        background-color: $blue;
        
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}